<div class="jumbotron center">
     <h4>We are a group of individuals focused on uniting the Jewish people involved in Tech based in New York. If you have tech wisdom to share, want to network with other Jews, or just looking for a fun time join us!</h4> 
</div>